# Dependencies
/node_modules
/.pnp
.pnp.*

# Testing & Build Outputs
/coverage
/.next/
/out/
/build

# Production & Environment
.env
.env*.local
.vercel

# TypeScript & IDE
*.tsbuildinfo
next-env.d.ts
.DS_Store
.vscode/