HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# IDE specific files
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
# Compiled class files & build directories
target/
build/

# Log files
*.log

# Mac OS specific files
.DS_Store
Thumbs.db

# Spring Boot Local Configuration (Keeps local passwords off GitHub)
src/main/resources/application-local.properties