# Compiled class files
*.class

# Log files
*.log

# Package Files #
*.jar
*.war
*.ear
hs_err_pid*

# Maven #
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

# IDE & OS #
.idea/
*.iml
.vscode/
.DS_Store
*.swp
*.swo

# Environment
.env
# Spring Boot Local Configuration (Keeps local passwords off GitHub)
src/main/resources/application-local.properties